# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.build/
.history

# IntelliJ/VS Code related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Firebase & Secrets (SECURITY!)
google-services.json
GoogleService-Info.plist
# Ye aapki specific secret file hai jo git status mein aa rahi thi
lib/assets/mindfuldb04-b3e2b2c22d2b.json
.env

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android/iOS builds
/android/app/debug
/android/app/profile
/android/app/release